.animal-container {
  width: 30%;
  background-color: beige;
  margin: 10px;

  img {
    width: 90%;
  }
}

.each-animal {
  img {
    width: 50%;
  }
  .title-text {
    font-weight: 630;
  }

  .is-not-fed {
    color: red;
  }

  .is-fed {
    color: green;
  }
}
