//-----------  Showing All Zoo Animals  ----------- //
.animal-container {
  width: 30%;
  background-color: beige;
  margin: 10px;

  img {
    width: 90%;
  }

  .is-not-fed {
    color: red;
  }
  .is-fed {
    color: green;
  }
}

//-----------  Showing Each Individual Animal  ----------- //
.each-animal {
  img {
    width: 50%;
  }
  .title-text {
    font-weight: 630;
  }

  .btn-hover {
    &:hover {
      border-color: rgb(25, 169, 121);
    }
  }

  .no-btn-hover {
    border: none;
    border-color: none;
  }

  .is-not-fed {
    color: red;
  }
  .is-fed {
    color: green;
  }
}
