ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  background-color: rgb(147, 123, 123);
  li {
    display: inline;
    padding: 10px;

    background-color: aquamarine;

    .link-text {
      color: black;
    }

    &:hover {
      background-color: rgb(101, 227, 185);
    }
  }
}
